* {
  font-family: 'Helvetica';
  color: seashell;
  opacity: 0.9;
}

body {
  background: black;
  margin: 0;
}

.headercontainer {
  display: flex;
  height: 69px;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid seashell;
  align-items: center;
  font-size: 22px;
}

.logo img {
  height: 50px;
}

.nav {
  display: inline-flex;
}

.nav p {
  margin: 10px;
}

#missioncontainer {
  display: flex;
  justify-content: center;
  height: 700px;
  width: 1200px;
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1puyic7*_gcl_aw*R0NMLjE3MTg5MTMwNzcuQ2p3S0NBandwcy16QmhBaUVpd0FMd3NWWWNqVTlVT2NHZGw4NWJDLTd6ZzJWVnhwUFQzRHBDZlFWbTlmWWJQOHFwdUhFR3lJWE10Q3VSb0N2VGtRQXZEX0J3RQ..*_gcl_au*NDQ4MjU5MTU3LjE3MTcwODczMTQ.*_ga*MzIyMjYzNjAxLjE3MTc2MTEzNjk.*_ga_3LRZM6TM9L*MTcxOTUwMDQzMy41LjEuMTcxOTUwNDU2MC43LjAuMA..);
  margin-left: auto;
  margin-right: auto;
}

.mission {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  background-color: black;
  width: 1200px;
  font-size: 22px;
}

#featuredteacontainer img {
  height: 200px;
  width: 300px;
}
#featuredteacontainer {
  text-align: center;
  width: 1000px;
  margin: 0 auto;
  font-size: 22px;
}

.featuredteapanel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featuredtea {
  margin-left: 10px;
  margin-right: 10px;
}

.featuredtea h4 {
  margin-top: 10px;
}

#locationscontainer {
  align-content: center;
  text-align: center;
  height: 500px;
  width: 1200px;
  margin: 0 auto;
  background-image: url(https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1puyic7*_gcl_aw*R0NMLjE3MTg5MTMwNzcuQ2p3S0NBandwcy16QmhBaUVpd0FMd3NWWWNqVTlVT2NHZGw4NWJDLTd6ZzJWVnhwUFQzRHBDZlFWbTlmWWJQOHFwdUhFR3lJWE10Q3VSb0N2VGtRQXZEX0J3RQ.);
}

.locationspanel {
  justify-content: center;
  display: flex;
}

.locations {
  margin: 0 20px;
  text-align: center;
  width: 300px;
  background-color: black;
  opacity: 1;
  line-height: 30px;
}

#locationscontainer h2 {
  font-size: 22px;
  margin-bottom: 15px;
}

.footer {
  text-align: center;
}

.footercopyright {
  margin-left: 20px;
  text-align: left;
}



